# Doc files
**/doc/*

# Log files
*.log
log.txt

# Python pyc files
*.pyc

# Data files
data/areas/*
data/IGN_Route500/*
data/demo_DRIEA/*
data/demo_ARA/*
data/demo_SNCF/archives/*

# Scripts files
scripts/*

# This file
.gitignore
